<!-- login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Scrap App</title>
</head>
<body>
  <h1>Scraps App</h1>
  
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <a href="/login">Login</a>
  <a href="/register">Sign In</a>
  
</body>
</html>
